@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0 10%;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/Math-background.jpg);
  background-color: antiquewhite;
  background-size: cover;
  background-blend-mode: soft-light;
  font-family: 'Edu SA Beginner', cursive;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
  padding: 0;
  font-weight: 900;
}

nav span {
  font-size: 2rem;
}

.navitem {
  text-decoration: none;
  color: black;
}

.navitem:hover {
  color: grey;
}

#calculator {
  margin-bottom: 10%;
  text-align: center;
}

.operators {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.1fr 1fr 1fr 1fr 1fr 1fr;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 1);
}

.operators button {
  padding: 1rem 0;
  border: 0.01rem solid white;
  font-family: 'Edu SA Beginner', cursive;
  font-size: 1.2rem;
}

.display {
  padding: 1rem 0;
  font-size: 1.4rem;
  background-color: bisque;
  grid-column: span 4;
  text-align: right;
}

.grey {
  background-color: khaki;
}

.grey:hover {
  background-color: darkkhaki;
}

.orange {
  background-color: sandybrown;
}

.orange:hover {
  background-color: peru;
}

.zero {
  grid-column: span 2;
}

#loading,
#error {
  text-align: center;
  font-size: 2rem;
}

.quote {
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: 3% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 4rem;
    margin: 0;
  }

  .navitem {
    font-size: 1.5rem;
  }

  #home {
    font-size: 2rem;
  }

  #calculator {
    font-size: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .quote {
    font-size: 2.5rem;
  }
}
